<?xml version='1.0'?>
<launch>
  		<!-- SLAM mapping nodes -->
  <node pkg="gmapping" type="slam_gmapping" name="gmapping">
	  <remap from="scan" to="base_scan"/> 
  </node>
  
	 <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find newbot_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find newbot_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find newbot_2dnav)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find newbot_2dnav)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find newbot_2dnav)/config/base_local_planner_params.yaml" command="load" />
  </node>

  <!-- Robot controller parameters -->
  <node pkg="newbot_2dnav" type="newbot_pid_controller" name="newbot_2dnav">
  	<rosparam file="$(find newbot_2dnav)/config/newbot_controller_params.yaml" command="load"/>
  	<remap from="newbot/cmd_vel" to="controller_cmd_vel"/>
  </node>
  <node pkg="newbot_2dnav" type="move_base_recover" name="move_base_recover" output="screen"/>



			
</launch>
